In [13]:
import pandas as pd

# Ruta de los archivos CSV
archivo1 = '/Users/negro/Library/CloudStorage/OneDrive-Personal/Documentos/00 Fran/01 - Personales/02-Learn/0. Data Science/0. Data Science/2_projects/e_MOOCs/2_Repo/MOOCs_BA/rawDataSets/Coursera_courses_norm.csv'
archivo2 = '/Users/negro/Library/CloudStorage/OneDrive-Personal/Documentos/00 Fran/01 - Personales/02-Learn/0. Data Science/0. Data Science/2_projects/e_MOOCs/2_Repo/MOOCs_BA/rawDataSets/edx_courses_norm.csv'
archivo3 = '/Users/negro/Library/CloudStorage/OneDrive-Personal/Documentos/00 Fran/01 - Personales/02-Learn/0. Data Science/0. Data Science/2_projects/e_MOOCs/2_Repo/MOOCs_BA/rawDataSets/udemy_courses_norm.csv'

# Importar los archivos CSV como dataframes
Coursera_courses_norm = pd.read_csv(archivo1,encoding='UTF-8',decimal='.')
edx_courses = pd.read_csv(archivo2,encoding='UTF-8',decimal='.')
udemy_courses = pd.read_csv(archivo3,encoding='UTF-8',decimal='.')

<font size="4"><li><left><i>Validamos que las columnas de los dataframes importados son iguales y por lo tanto podemos concatenarlos</i></left></font>

In [14]:
columnas_df1 = set(Coursera_courses_norm.columns)
columnas_df2 = set(edx_courses.columns)
columnas_df3 = set(udemy_courses.columns)

if columnas_df1 == columnas_df2 == columnas_df3:
    print("Las columnas de los dataframes son iguales.")
else:
    print("Las columnas de los dataframes no son iguales.")

Las columnas de los dataframes son iguales.

In [15]:
# Concatenar los dataframes en uno solo
df_moocs = pd.concat([Coursera_courses_norm, edx_courses, udemy_courses], ignore_index=True)

In [16]:
df_moocs.head()

,course_id,provider,institution,title,subject,url,price,level,num_subscribers,num_lectures,num_reviews,rating,content_duration,language,published_timestamp
0,machine-learning,coursera,Stanford University,Machine Learning,NaN,https://www.coursera.org/learn/machine-learning,0,NaN,0,0,12677.0,4.739923,0.0,NaN,2015-08-07
1,indigenous-canada,coursera,University of Alberta,Indigenous Canada,NaN,https://www.coursera.org/learn/indigenous-canada,0,NaN,0,0,1460.0,4.816438,0.0,NaN,2017-04-09
2,the-science-of-well-being,coursera,Yale University,The Science of Well-Being,NaN,https://www.coursera.org/learn/the-science-of-...,0,NaN,0,0,8199.0,4.929504,0.0,NaN,2018-03-29
3,technical-support-fundamentals,coursera,Google,Technical Support Fundamentals,NaN,https://www.coursera.org/learn/technical-suppo...,0,NaN,0,0,12055.0,4.767482,0.0,NaN,2018-01-16
4,google-cbrs-cpi-training,coursera,Google - Spectrum Sharing,Become a CBRS Certified Professional Installer...,NaN,https://www.coursera.org/learn/google-cbrs-cpi...,0,NaN,0,0,33.0,4.818182,0.0,NaN,2019-06-07

<font size="4"><li><left><i>Confirmamos que no exitan lineas duplicadas:</i></left></font>

In [17]:
num_duplicados = len(df_moocs[df_moocs.duplicated()])
porcentaje_duplicados = (num_duplicados/len(df_moocs))*100
print(porcentaje_duplicados,'%')

0.0 %

In [8]:
df_moocs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5269 entries, 0 to 5268
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            5269 non-null   object
 1   provider             5269 non-null   object
 2   institution          5269 non-null   object
 3   title                5269 non-null   object
 4   subject              4646 non-null   object
 5   url                  5269 non-null   object
 6   price                5269 non-null   int64
 7   level                4646 non-null   object
 8   num_subscribers      5269 non-null   int64
 9   num_lectures         5269 non-null   int64
 10  num_reviews          5250 non-null   float64
 11  rating               1578 non-null   float64
 12  content_duration     5269 non-null   float64
 13  language             974 non-null    object
 14  published_timestamp  4276 non-null   object
dtypes: float64(3), int64(3), object(9)
memory usage: 617.6+ KB

In [18]:
# Contamos valor repetidos en 'course_id'
course_id_unique = df_moocs['course_id'].value_counts()
course_id_unique

machine-learning    1
u-1033670           1
u-1010274           1
u-749686            1
u-521072            1
                   ..
u-588764            1
u-402836            1
u-1188410           1
u-1085580           1
u-297602            1
Name: course_id, Length: 5269, dtype: int64

In [9]:
# Exportamos dataframe a csv
# Definimos path
path_out_csv = '/Users/negro/Library/CloudStorage/OneDrive-Personal/Documentos/00 Fran/01 - Personales/02-Learn/0. Data Science/0. Data Science/2_projects/e_MOOCs/2_Repo/MOOCs_BA/rawDataSets/moocs_norm.csv'

df_moocs.to_csv(path_out_csv, index=False, encoding='UTF-8', decimal='.')

<font size="4"><li><left><i>Agrupamos en rangos de precios:</i></left></font>